# gitignore common files
.DS_Store
Thumbs.db
Desktop.ini
*Zone.Identifier
.idea

# Root CA
/ssl/root.key
/ssl/root.pem

# SSH
/ssh

# Container Data
/ubuntu18/mysql
/ubuntu18/sites-available
/ubuntu18/ssl
/ubuntu18/www
/ubuntu20/mysql
/ubuntu20/sites-available
/ubuntu20/ssl
/ubuntu20/www
/ubuntu22/mysql
/ubuntu22/sites-available
/ubuntu22/ssl
/ubuntu22/www
/ubuntu24/mysql
/ubuntu24/sites-available
/ubuntu24/ssl
/ubuntu24/www
